PORT=3000
QGIS_SERVER_URL=http://192.168.20.20:8080/cgi-bin/qgis_mapserv.fcgi.exe
QGIS_PROJECT_PATH=world2.qgz
DEFAULT_EPSG=EPSG:32653
QGIS_TIMEOUT_MS=10000
LOCAL_TILES_DIR=C:\island_imgs\tile
TILE_CACHE_DIR=./data/tile-cache
TILE_PROXY_OFFLINE=false
TILE_PROXY_TIMEOUT_MS=8000
MAX_TILE_RESPONSE_BYTES=5000000
MAX_PREFETCH_TILES=5000
MAX_PREFETCH_ZOOM=16
MAX_CONCURRENT_TILE_DOWNLOADS=4
TILE_ALLOWED_DOMAINS=tile.openstreetmap.org,mt0.google.com,mt1.google.com,mt2.google.com,mt3.google.com,localhost,127.0.0.1
